nav > ul >li{
    display:inline-block;
    margin-right:5px;
}
li>a {
    text-decoration: none;
}
nav li:hover{
    color: rgb(156, 34, 34);
    background-color: rgb(185, 217, 28);
} 
footer{
    text-align: center;
    margin-top: 30px;
}